<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <title>Students performance</title>
  </head>
  <body>
    <main class="container">
      <article>
        <table>
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Week 1 completed</th>
              <th scope="col">Week 2 completed</th>
              <th scope="col">Week 3 completed</th>
            </tr>
          </thead>
          <tbody>

            {% for student_info in performances %}
            <tr>
              <th scope="row">{{ student_info.student_name }}</th>
              {% if student_info.week1_completed %}<td>✅</td>{% else %}<td>❌</td>{% endif %}
              {% if student_info.week2_completed %}<td>✅</td>{% else %}<td>❌</td>{% endif %}
              {% if student_info.week3_completed %}<td>✅</td>{% else %}<td>❌</td>{% endif %}
            </tr>
            {% endfor %}

          </tbody>
        </table>
      </article>
    </main>
  </body>
</html>
